/* 兩頁共用 */
:root {
    --mainBackgroundColor: #020202;
    --mainPaddingLeftAndRight: 10%;
    --logoHeight: 35px;
    --navbarPaddingTopAndBottom: 10px;
    --navbarHeight: calc(var(--logoHeight) + var(--navbarPaddingTopAndBottom) * 2);
    --mainMarginTop: 80px;
    --containerTitleSize: 28px;
    --mainBorderColor: #919191;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans TC;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--mainBackgroundColor);
}

/* 清除自動填入時的顏色 */
input:-webkit-autofill, input:-webkit-autofill:hover,
input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

.d-none {
    display: none;
}

.mainColor {
    color: white;
}

.subColor {
    color: #020202;
}

.flex-row {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.x-center {
    justify-content: center;
}

.x-between {
    justify-content: space-between;
}

.x-end {
    justify-content: end;
}

.y-center {
    align-items: center;
}

.xy-center {
    justify-content: center;
    align-items: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.t-center {
    text-align: center;
}

.container {
    max-width: 1296px;
    padding: 0 var(--mainPaddingLeftAndRight);
}

.navbar {
    width: 100%;
    padding: var(--navbarPaddingTopAndBottom) var(--mainPaddingLeftAndRight) 0 var(--mainPaddingLeftAndRight);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--mainBackgroundColor);
    z-index: 99;
}

.navbarLine {
    height: 1px;
    margin-top: var(--navbarPaddingTopAndBottom);
    background-color: white;
}

.logo > img {
    max-width: 235px;
    height: var(--logoHeight);
}

.menuContent > li {
    margin-left: 20px;
    font-size: 20px;
}

.banner {
    padding-top: var(--navbarHeight);
}

.title {
    margin-bottom: 40px;
    font-size: 70px;
}

.decoList {
    margin-top: var(--mainMarginTop);
    overflow: hidden;
}

.deco {
    width: 120px;
    height: 120px;
    transform: translateY(105%);
    animation-duration: 4s;
    animation-timing-function: cubic-bezier(.5, 0, .3, 1);
    animation-iteration-count: infinite;
}

.deco:nth-child(1) {
    animation-name: decoMove-1;
}

.deco:nth-child(2) {
    animation-name: decoMove-2;
}

.deco:nth-child(3) {
    animation-name: decoMove-3;
}

@keyframes decoMove-1 {
    0%, 40% {
        transform: translateY(105%);
    }
    75%, 90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-105%);
    }
}

@keyframes decoMove-2 {
    0%, 35% {
        transform: translateY(105%);
    }
    65%, 85% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-105%);
    }
}

@keyframes decoMove-3 {
    0%, 30% {
        transform: translateY(105%);
    }
    55%, 80% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-105%);
    }
}

.aiToolContainer {
    margin-top: var(--mainMarginTop);
    padding: 80px var(--mainPaddingLeftAndRight);
    background-color: white;
    border-radius: 80px;
}

.aiToolTitle {
    font-size: 50px;
    margin-bottom: 40px;
}

.searchIcon {
    top: 17px;
    left: 25px;
    cursor: pointer;
}

.searchInput {
    width: 100%;
    padding: 10px 0 10px 50px;
    border: 0;
    outline: 0;
    border-radius: 16px;
    font-size: 18px;
    background-color: #F2F2F2;
    transition: .3s;
}

.searchInput:focus {
    /* offset-x offset-y blur-size spread-size color 內陰影 */
	box-shadow: 0 0 5px 1.5px #8C9895 inset;
}

.filterModel {
    margin-top: 40px;
}

.filterBtn {
    padding: 10px 35px 10px 18px;
    font-size: 18px;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    background-color: transparent;
    cursor: pointer;
    transition: .05s;
}

.filterBtn:hover {
    outline: 1.5px solid #020202;
}

.slidersHorizontalIcon, .keyboardArrowDownIcon {
    top: 16px;
    right: 15px;
}

.numberHint {
    width: 25px;
    height: 25px;
    padding: 1px;
    top: 8px;
    right: 18px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #020202;
    border-radius: 4px;
}

.aiTypeModel {
    width: 68%;
    overflow-x: auto;
}

.aiType {
    margin: 0 2px;
    padding: 8px 16px;
    color: #919191;
    text-align: center;
    border-radius: 16px;
}

.aiType:hover, .aiTypeSelected {
    color: #020202;
    background-color: #F2F2F2;
}

.filterModel li {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.filterResult {
    padding: 20px 0;
    top: 55px;
    border-radius: 16px;
    background-color: white;
    /* offset-x offset-y blur-size spread-size color */
    box-shadow: 0 0 10px 1px #00000023;
    z-index: 1;
}

.filter .filterResult {
    width: 240px;
    left: 0;
}

.sort .filterResult {
    width: 160px;
    right: 0;
}

.filterTitle {
    padding-left: 40px;
    color: #919191;
    font-size: 14px;
    font-weight: bold;
}

.filterCondition {
    cursor: pointer;
    transition: .3s;
}

.filterResult .filterCondition:hover {
    background-color: #F2F2F2;
}

.filter .filterCondition {
    padding-left: 40px;
}

.filterResult li {
    padding-top: 8px;
    padding-bottom: 8px;
}

.filterSelected {
    position: relative;
}

.check {
    position: absolute;
    top: 12px;
    right: 40px;
}

.dividingLine {
    height: 1px;
    margin: 10px 40px;
    background-color: #F2F2F2;
}

.workList {
    margin-top: 20px;
}

.work {
    width: 32%;
    margin: 12px 0;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
}

.workImg {
    overflow: hidden;
    border-radius: 16px 16px 0 0;
    cursor: pointer;
}

.workImg > img {
    transition: .3s;
}

.workImg img:hover {
    transform: scale(1.2);
}

.workInfo {
    border-top: 1px solid #F2F2F2;
    padding: 20px 5%;
}

.workTitle {
    font-size: 18px;
}

.workDescription {
    height: 80px;
    margin-top: 12px;
    font-size: 14px;
    color: #525252;
}

.workSubTitle {
    font-size: 16px;
}

.workList .noData {
    font-size: 20px;
    color: #E53737;
    margin: 0 auto;
}

.pagination {
    margin-top: 30px;
}

.pagination > li {
    margin: 5px;
    padding: 10px 18px;
    color: #020202;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
}

.pagination > li:hover, .pagination .pageSelected {
    color: white;
    background-color: var(--mainBackgroundColor);
}

.footer {
    padding: 0 var(--mainPaddingLeftAndRight);
}

.footerheader {
    padding: 40px 0;
}

.footerMenuContent > li {
    font-size: 60px;
    font-weight: bold;
}

.footerInfo {
    padding: 10px 0;
    font-size: 12px;
    border-top: 1px solid white;
}

.copyRight {
    width: 15%;
}

.followLink {
    width: 25%;
}

.backToTopModel {
    width: 50%;
}

.backToTop, .arrowUpwardIcon {
    margin-left: 5px;
    cursor: pointer;
}

.backToTop:hover + .arrowUpwardIcon, .arrowUpwardIcon:hover {
    animation: arrowUpwardIconMove .7s infinite;
}

@keyframes arrowUpwardIconMove {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-20%);
    }
}

/* index.html */
.startToUse {
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 16px;
    transition: .3s;
}

.startToUse:hover {
    /* offset-x offset-y blur-size spread-size color */
    box-shadow: 0 0 10px 1px aqua;
}

.serviceContainer {
    margin-top: var(--mainMarginTop);
}

.serviceTitle {
    width: 35%;
    font-size: var(--containerTitleSize);
}

.serviceDescription {
    width: 65%;
    font-size: 32px;
    font-weight: bold;
}

.serviceList {
    margin-top: 50px;
}

.service {
    width: 32%;
    padding: 40px 20px;
    border: 1px solid var(--mainBorderColor);
    border-radius: 12px;
    cursor: pointer;
    transition: .3s;
}

.service:hover {
    outline: 1px solid white;
}

.serviceIcon {
    max-width: 60px;
}

.serviceName {
    font-size: 24px;
    padding: 10px 0;
}

.partnerContainer {
    margin-top: var(--mainMarginTop);
}

.partnerTitle {
    font-size: var(--containerTitleSize);
}

.partnerModel {
    margin-top: 40px;
    position: relative;
}

.partnerModel::before, .partnerModel::after {
    content: "";
    width: 10%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.partnerModel::before {
    left: 0;
    background-image: linear-gradient(to right, var(--mainBackgroundColor), transparent);
}

.partnerModel::after {
    top: 0;
    right: 0;
    background-image: linear-gradient(to left, var(--mainBackgroundColor), transparent);
}

.partnerList:nth-child(2) {
    margin-bottom: 10px;
}

.feedbackList {
    margin-top: 80px;
}

.feedback {
    margin: 12px;
    padding: 20px;
    border-radius: 16px;
    background-color: #FFFFFF14;
}

.starList > img {
    margin-right: 2px;
}

.feedbackContent {
    height: 280px;
    margin: 10px 0;
}

.feedbackPeople > img {
    width: 48px;
    height: 48px;
}

.feedbackPeopleInfo {
    margin-left: 10px;
}

.feedbackPeopleName {
    font-size: 16px;
}

.feedbackPeopleFrom {
    margin-top: 4px;
    font-size: 14px;
}

/* 目前card的dot */
.slick-dots li.slick-active button::before {
    color: white;
    font-size: 18px;
}

/* 非目前card的dot */
.slick-dots li:not(.slick-active) button::before {
    color: #D1D1D1;
}

.callMadeContainer {
    padding: 80px 0;
    border-bottom: 1px solid white;
}

.callMadeTitle {
    font-size: 32px;
    margin-bottom: 30px;
}

.callMadeContainer .startToUse {
    padding: 10px 45px 10px 25px;
    font-size: 18px;
}

.callMadeContainer .callMadeIcon {
    top: 12px;
    left: calc(50% + 30px);
}

/* price.html */
.subTitle {
    width: 50%;
    font-size: 32px;
    font-weight: bold;
}

.modelContainer {
    margin-top: var(--mainMarginTop);
}

.modelTitle {
    font-size: var(--containerTitleSize);
}

.modelList {
    margin-top: 50px;
}

.modelHeader {
    height: 250px;
    padding: 10px 16px;
    border-bottom: 1px solid white;
}

.model {
    width: 49%;
    margin-bottom: 12px;
    border: 1px solid var(--mainBorderColor);
    border-radius: 12px;
    transition: .3s;
}

.model:hover {
    outline: 1px solid white;
}

.modelName {
    font-size: 24px;
}

.modelIndroductionList {
    padding: 6px 20px;
}

li.modelIndroduction {
    list-style-type: disc;
}

.modelFooter {
    padding: 10px 16px;
}

.price {
    font-weight: bold;
}

.startToUseLink {
    margin-right: 20px;
    font-size: 14px;
}

.modelFooter .callMadeIcon {
    width: 20px;
    top: 1px;
    right: -25px;
}

.ruleContainer {
    margin-top: var(--mainMarginTop);
}

.ruleTitle {
    width: 35%;
    font-size: var(--containerTitleSize);
}

.ruleList {
    width: 65%;
    margin-top: -20px;
}

.rule {
    border-bottom: 1px solid var(--mainBorderColor);
}

.ruleName {
    padding-top: 20px;
    font-size: 30px;
}

.ruleIntroduction {
    margin-top: 12px;
    margin-bottom: 20px;
    font-size: 20px;
}

.commonQAContainer {
    padding: var(--mainMarginTop) 0;
    border-bottom: 1px solid white;
}

.commonQATitle {
    width: 35%;
    font-size: var(--containerTitleSize);
}

.commonQAList {
    width: 65%;
}

.commonQA {
    margin-bottom: 8px;
    padding: 10px 20px;
    border: 1px solid var(--mainBorderColor);
    border-radius: 16px;
    cursor: pointer;
}

.commonQA:hover, .commonQASelected {
    border-color: white;
}

.add, .remove {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.question {
    font-size: 18px;
}

.answer {
    margin-top: 12px;
    padding-left: 30px;
    font-size: 15px;
}

@media(max-width: 920px) {
    /* 兩頁共用 */
    :root {
        --containerTitleSize: 24px;
    }

    .title {
        font-size: 50px;
    }

    .aiToolContainer {
        border-radius: 50px;
    }

    .aiToolTitle {
        font-size: 40px;
    }

    .filter {
        order: 1;
    }

    .filterBtn {
        padding-left: 30px;
        padding-right: 50px;
    }

    .slidersHorizontalIcon, .keyboardArrowDownIcon {
        right: 25px;
    }

    .aiTypeModel {
        width: 100%;
        margin: 18px 0 12px 0;
        order: 3;
    }

    .aiType {
        min-width: 100px;
    }

    .sort {
        order: 2;
    }
    
    .work {
        width: 48%;
    }

    .footer {
        margin: 10px 0;
    }

    .footerMenuContent > li {
        font-size: 50px;
    }

    .copyRight {
        width: 50%;
        order: 1;
    }
    
    .followLink {
        width: 100%;
        margin-top: 20px;
        justify-content: start;
        order: 3;
    }

    .followLink > li {
        margin-right: 10%;
    }

    .backToTopModel {
        width: 50%;
        order: 2;
    }

    /* index.html */
    .serviceDescription {
        font-size: 30px;
    }

    .service {
        width: 48%;
        margin-top: 10px;
    }
    
    .feedbackList {
        margin-top: 60px;
    }

    /* price.html */
    .subTitle {
        font-size: 28px;
    }
}

@media(max-width: 500px) {
    /* 兩頁共用 */
    :root {
        --mainPaddingLeftAndRight: 5%;
        --logoHeight: 25px;
        --mainMarginTop: 60px;
        --menuContentPaddingTopAndBottom: 100px;
        --containerTitleSize: 20px;
    }
    
    .menu, .close {
        cursor: pointer;
    }
    
    .menu {
        display: block;
    }
    
    .logo > img {
        max-width: 200px;
    }

    .menuContent {
        width: 100%;
        padding: var(--menuContentPaddingTopAndBottom) 0;
        flex-direction: column;
        position: absolute;
        /* 1px is .navbarLine's height */
        top: calc(var(--navbarHeight) + 1px);
        left: 0;
        background-color: var(--mainBackgroundColor);
        display: none;
    }
    
    .menuContent > li {
        text-align: center;
        font-size: 60px;
        font-weight: bold;
    }

    .title {
        margin-bottom: 30px;
        font-size: 40px;
    }

    .decoList {
        margin-top: 160px;
    }

    .deco {
        width: 29vw;
        height: auto;
    }
    
    .aiToolContainer {
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 20px;
    }

    .aiToolTitle {
        font-size: 32px;
        word-break: keep-all;
        margin-bottom: 16px;
    }

    .searchIcon {
        top: 15px;
    }

    .searchInput {
        font-size: 16px;
    }

    .filterModel {
        margin-top: 18px;
    }

    .filterBtn {
        font-size: 14px;
    }

    .slidersHorizontalIcon, .keyboardArrowDownIcon {
        top: 12px;
    }

    .filterResult {
        padding: 10px 0;
        top: 48px;
    }

    .filter .filterResult {
        width: 80vw;
    }

    .filterTitle {
        padding-left: 30px;
    }
    
    .filter .filterCondition {
        padding-left: 30px;
    }

    .sort .filterResult {
        width: 140px;
    }
    
    .filterResult li {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .check {
        top: 10px;
    }
    
    .dividingLine {
        margin: 5px 30px;
    }
    
    .work {
        width: 100%;
    }

    .footerMenuContent {
        width: 100%;
        margin-top: 20px;
        order: 2;
    }

    .footerMenuContent > li {
        font-size: 35px;
    }

    .footerheader .logo {
        width: 100%;
        order: 1;
    }

    .pagination > li {
        margin: 0 2px;
    }

    /* index.html */
    .serviceTitle {
        width: 100%;
    }
    
    .serviceDescription {
        width: 100%;
        margin-top: 20px;
        font-size: 28px;
    }
    
    .service {
        width: 100%;
    }
    
    .feedbackList {
        margin-top: 20px;
    }

    .feedbackContent {
        height: 250px;
    }

    /* price.html */
    .subTitle {
        width: 70%;
        font-size: 24px;
    }

    .modelList, .commonQAList {
        margin-top: 12px;
    }

    .model, .ruleTitle, .ruleList, .commonQATitle, .commonQAList {
        width: 100%;
    }

    .ruleList {
        margin-top: 24px;
    }

    .ruleName {
        font-size: 24px;
    }

    .ruleIntroduction {
        font-size: 16px;
    }
}